  
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
}
nav{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 40px;
    flex-grow: 1;
    
}


body{
    background-color: beige;
    font-family: Arial;
}
footer{
    text-align: center;
    font-family: Arial;
    font-size: 15px;
}
table{
    border: 2px black;
    text-align: center;
    width: 1000px;
    
}
a{
    color:green;
}
th, td{
    text-align: center;
    padding: 10px;

}
th{
    background-color: blueviolet;
    color: white;

}
table{
    border-spacing: 0px;
    border-color: rgb(0, 0, 0);
    border-radius: 8px;
    border-collapse: collapse;
}
tr:hover{
    background:#dbeafe;
}
table{
    box-shadow:0 4px 12px rgba(0,0,0,0.15);
}